.register-forms-frame{
  position: relative;
  top: 10vh;
  width: fit-content;
  margin: auto;
  border: 0.75em inset #9C27B0;
  border-radius: 2em;
  background: black;
}

.forms-card{
  border: 1px solid whitesmoke;
  margin: 1em;
  padding: 0;
}

.forms-header{
  background: #303030;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}

.forms-title{
  font-size: 10px;
}