<div class="login">
  <form [formGroup]="loginForm" (ngSubmit)="onSubmit()" class="login-form">
    <mat-form-field color="accent">
      <input matInput type="text" placeholder="username" formControlName="username" />
    </mat-form-field>
    <br />
    <mat-form-field color="accent">
      <input matInput type="password" placeholder="password" formControlName="password" />
    </mat-form-field>
    <br />
    <mat-form-field color="accent">
      <input matInput type="email" placeholder="email" disabled />
    </mat-form-field>
  </form>
  <button mat-stroked-button color="accent" type="submit" class="login-btn">
    Login
  </button>
</div>