.nav-container{
    height: 100vh;
}

.nav-title{
    font-family: "Roboto Slab";
}

.nav-link{
    font-family: "Roboto Slab";
 
}

.disabled{
    font-family: "Roboto Slab";
    text-decoration: line-through;
    color: skyblue;
}