<mat-drawer-container class="nav-container">
  <mat-drawer mode="side" opened>
    <mat-toolbar class="nav-title" color="primary">Systems</mat-toolbar>
    <mat-action-list dense>
      <button class="nav-link" mat-list-item routerLink="/dashboard/BonesOfTheTarrasque">Bones of the Tarrasque</button>
      <button class="nav-link" mat-list-item routerLink="/dashboard/FleshOfTheTarrasque">Flesh of the Tarrasque</button>
      <button class="nav-link" mat-list-item routerLink="/dashboard/GroveOfTheTarrasque">Grove of the Tarrasque</button>
      <button class="nav-link" mat-list-item routerLink="/dashboard/ScreenMaker">DM/GM Screen</button>
      <button class="nav-link" mat-list-item routerLink="/dashboard/npcBuilder">Character Builder</button>
      <button class="nav-link" mat-list-item routerLink="/dashboard/dice_roller">Dice Roller</button>
      <button class="nav-link" mat-list-item routerLink="/dashboard/SpellCardMaker">Spell Card Maker</button>
      <button class="nav-link" mat-list-item routerLink="/dashboard/SheetMaker">Sheet Maker</button>
    </mat-action-list>
  </mat-drawer>
  <mat-drawer-content>
    <app-views-container></app-views-container>
  </mat-drawer-content>
</mat-drawer-container>

  <!-- <img src="../../../assets/turtle.png" class="tarasque">
  <img src="../../../assets/dinosaur.png" class="bones">
  <img src="../../../assets/tiles.png" class="flesh"> -->
